h2,p {
    padding-left: 15px;
    padding-right: 15px;
  }

  .hover-effect:hover {
    transition: transform 0.3s, box-shadow 0.3s;
    transform: scale(1.05);
  }

  .circular-img {
    width: 100%;
    max-width: 200px;
    height: 100%;
    max-height: auto;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 2%;
  }
  .navbar {
    background: linear-gradient(to right,#222,#444,#222); /* Adjust colors */
}
  .navbar-nav li>a{
    color: white;
  }